spring:
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.MySQL57Dialect
        dialect.storage_engine: innodb
        default_batch_fetch_size: 1000
        query:in_clause_parameter_padding: true
        connection.provider_disables_autocommit: true
    open-in-view: false
    hibernate:
      ddl-auto: none
  datasource:
    hikari:
      auto-commit: false
      driver-class-name: org.mariadb.jdbc.Driver
      jdbc-url: ${secret.jdbc.uri}
      username: ${secret.jdbc.username}
      password: ${secret.jdbc.password}
---
spring:
  config:
    activate:
      on-profile: local
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  datasource:
    hikari:
      driver-class-name: org.h2.Driver
      jdbc-url: jdbc:h2:mem:threedollar;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
      username: sa
  jpa:
    hibernate:
      ddl-auto: create
  flyway:
    enabled: false
---
spring:
  config:
    activate:
      on-profile: local-will
  jpa:
    hibernate:
      ddl-auto: none
---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: none
---
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: none
---
